

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}



:root {
    --
}

.heder-logo-blue {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


.btn-link-link {
  color: var(--white, #fff);
  background: var(--ocean, #404bbf);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.btn-link {
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.btn-link :hover,
.btn-link :focus {
  color: #ffffff;
  background: var(--ocean, #404bbf);
}
